*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.navbar{
border: none;
background-color: maroon;
color: White;

}
body{
	background-color: #BAA898;
	color: white;
}
n{
	font-size: 30px;
	color:#61122F; 
}

.container
{
	background-color: #e0e0e0;
	color: black;
}

#myNavbar ul li a {
	color: White;
}
.navbar-brand{
font-size: 30px;	
}
